<div {{ attributes.addClass('m-icon-text-field') }}>
  {% if icon and item %}
    {% set item %}
      {% include '@component/a-icon/a-icon.html.twig' with {
        attributes: create_attribute().addClass('m-icon-text-field__icon'),
        icon: icon,
        farecla_theme_svg_sprite: farecla_theme_svg_sprite,
      } only %}
      {{ item }}
    {% endset %}
  {% else %}
    {% if icon %}
      {% include '@component/a-icon/a-icon.html.twig' with {
        attributes: create_attribute().addClass('m-icon-text-field__icon'),
        icon: icon,
        farecla_theme_svg_sprite: farecla_theme_svg_sprite,
      } only %}
    {% endif %}
  {% endif %}
  {% if item %}
    {% include '@component/a-text/a-text.html.twig' with {
      attributes: cta_attributes.addClass('m-icon-text-field__item'),
      type: item_type,
      href: item_href,
      content: item,
    } only %}
  {% endif %}
</div>
