{% set classes = [
  'a-input-submit',
  'h-button',
  type and type != 'default' ? 'h-button--' ~ type : [],
] %}
<button {{ attributes.addClass(classes) }}>
  {% if leading_icon and leading_icon != 'default' %}
    <span class="h-button__icon-container h-button__icon-container--start">
      {% include '@component/a-icon/a-icon.html.twig' with {
        attributes: create_attribute().addClass('h-button__icon'),
        icon: leading_icon,
        super_theme_svg_sprite: super_theme_svg_sprite,
      } only %}
    </span>
  {% endif %}
  {% include '@component/a-text/a-text.html.twig' with {
    attributes: create_attribute().addClass('h-button__text'),
    tag: 'span',
    type: 'small',
    content: attributes.value,
  } only %}
  {% if trailing_icon and trailing_icon != 'default' %}
    <span class="h-button__icon-container h-button__icon-container--end">
     {% include '@component/a-icon/a-icon.html.twig' with {
       attributes: create_attribute().addClass('h-button__icon'),
       icon: trailing_icon,
       super_theme_svg_sprite: super_theme_svg_sprite,
     } only %}
   </span>
  {% endif %}
</button>
