.a-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: pointer;
  transition-timing-function: var(--transition-timing-function-cubic-bezier);
  transition-duration: var(--transition-duration-0-25);
  transition-property: border-color, background-color, color;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  font: inherit;
  appearance: none;
  gap: 10px;

  &:not([disabled], .is-disabled):hover,
  [container-as-link-built]:hover & {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &[disabled],
  &.is-disabled {
    opacity: 0.5;
  }

  &--second {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &__icon-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;

    &--ajax-full {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: a-button-ajax-circle-full-animation
        var(--transition-duration-0-25) linear infinite;

      & ~ * {
        opacity: 0;
      }
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    fill: currentColor;

    &--ajax {
      animation: a-button-ajax-circle-animation var(--transition-duration-0-25)
        linear infinite;

      & + * {
        display: none;
      }
    }
  }
}

@keyframes a-button-ajax-circle-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes a-button-ajax-circle-full-animation {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
