.m-flex-field {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (--l) {
      gap: 32px;
    }

    .m-flex-field--internal-gap-1 & {
      gap: 12px;

      @media (--l) {
        gap: 4px;
      }
    }

    .m-flex-field--inline & {
      flex-direction: row;
    }
  }

  &__label {
    .m-flex-field--inline & {
      flex-shrink: 0;

      &::after {
        content: ':';
      }
    }
  }
}
