---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/suggestions/a-input/a-input.html.twig
---
{% if attributes.type|render in ['text', 'email', 'search', 'password', 'number', 'tel', 'date', 'time'] %}
  {% set wrapper_classes = [
    'a-input',
    attributes.type == 'search' ? 'a-input--leading-icon' : [],
  ] %}
  <div {{ create_attribute().addClass(wrapper_classes) }}>
    <input{{ attributes.addClass('a-input__element') }} />
    {% if attributes.type|render == 'search' %}
      {% include '@component/a-icon/a-icon.html.twig' with {
        attributes: create_attribute().addClass('a-input__icon', 'a-input__icon--leading'),
        icon: 'search',
        <%= h.changeCase.lower(name) %>_svg_sprite: <%= h.changeCase.lower(name) %>_svg_sprite,
      } only %}
    {% endif %}
  </div>
{% else %}
  <input{{ attributes }} />
{% endif %}
{{- children }}
