---
to: <%= h.src() %>/<%= h.changeCase.lower(name) %>/templates/components/suggestions/a-input/a-input.html.twig
---
<div class="a-input{% if attributes.type == 'search' %} a-input--with-icons{% endif %}">
  <input{{ attributes.addClass('a-input__element') }} />
  {% if attributes.type == 'search' %}
    {% include '@component/a-icon/a-icon.html.twig' with {
      attributes: create_attribute().addClass('a-input__icon', 'a-input__icon--leading'),
      icon: 'search',
      <%= h.changeCase.lower(name) %>_svg_sprite: <%= h.changeCase.lower(name) %>_svg_sprite,
    } only %}
  {% endif %}
  {{- children }}
</div>
