{% set classes = [
  'm-cta-field',
  tag_color_type ? tag_color_type : [],
  extra_classes ? extra_classes : [],
] %}
<div {{ attributes.addClass(classes) }}>
  {% if custom_label %}
    {% set label = custom_label %}
  {% endif %}
  {% if label %}
    {% include '@component/a-text/a-text.html.twig' with {
      attributes: create_attribute().addClass('m-cta-field__label'),
      tag: label_tag,
      type: label_type,
      content: label,
      thick_underline: label_thick_underline,
    } only %}
  {% endif %}
  {% if item_custom_content %}
    {% set item = item_custom_content %}
  {% endif %}
  {% if item %}
    {% include '@component/a-button/a-button.html.twig' with {
      attributes: cta_attributes.addClass('m-cta-field__item'),
      trailing_icon: item_trailing_icon,
      leading_icon: item_leading_icon,
      type: item_type,
      href: item_href,
      content: item,
      farecla_theme_svg_sprite: farecla_theme_svg_sprite,
    } only %}
  {% endif %}
</div>
