.m-slider-field {
  &--anchors {
    position: sticky;
    z-index: 400;
    top: calc(var(--header-height) + var(--toolbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--anchor-bar-height);
    min-height: 70px;
    background-color: var(--color-grey-ghost-grey);

    & + .js-anchor-bar-height {
      position: absolute;
      z-index: -1;
      height: var(--anchor-bar-height);
      margin-top: calc(var(--anchor-bar-height) * -1);
      pointer-events: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (--l) {
      gap: 32px;
    }
  }

  &__touch-text {
    display: none;

    @media (hover: none) {
      position: absolute;
      z-index: 25;
      top: 50%;
      left: 50%;
      display: flex;
      padding: 2px 8px;
      transform: translate(-50%, -50%);
      animation: m-slider-field-touch-text 4s forwards;
      white-space: nowrap;
      pointer-events: none;
      border: 8px solid var(--color-grey-black);
      border-radius: var(--border-radius-2);
      background-color: var(--color-yellow-primary);
    }

    @media (--l) and (hover: none) {
      left: calc(54px + 50%);
    }
  }
}

@keyframes m-slider-field-touch-text {
  0%,
  20% {
    visibility: hidden;
    opacity: 0;
  }
  30%,
  90% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
