<div class="a-input-checkbox">
  <input {{ attributes.addClass('a-input-checkbox__element') }}/>
  {% include '@component/a-icon/a-icon.html.twig' with {
    attributes: create_attribute().addClass('a-input-checkbox__icon', 'a-input-checkbox__icon--empty'),
    icon: 'checkbox-empty',
    super_custom_theme_svg_sprite: super_custom_theme_svg_sprite,
  } only %}
  {% include '@component/a-icon/a-icon.html.twig' with {
    attributes: create_attribute().addClass('a-input-checkbox__icon', 'a-input-checkbox__icon--filled'),
    icon: 'checkbox-filled',
    super_custom_theme_svg_sprite: super_custom_theme_svg_sprite,
  } only %}
  {{- children }}
</div>
